

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561890595728000036.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-561890595728000036.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561890595728000036.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-561890595728000036.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561890595728000036.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561890595728000036.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561890595728000036.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561890595728000036.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561890595728000036.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561890595728000036.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561890595728000036.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-561890595728000036.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561890595728000036.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561890595728000036.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561890595728000036.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561890595728000036.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561890595728000036.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-561890595728000036.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561890595728000036.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561890595728000036.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561890595728000036.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561890595728000036.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561890595728000036.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561890595728000036.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561890595728000036.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561890595728000036.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561890595728000036.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561890595728000036.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561890595728000036.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561890595728000036.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-561890595728000036.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-561890595728000036.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-561890595728000036.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561890595728000036.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561890595728000036.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561890595728000036.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561890595728000036.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561890595728000036.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561890595728000036.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561890595728000036.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561890595728000036.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561890595728000036.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-561890595728000036.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561890595728000036.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561890595728000036.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561890595728000036.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561890595728000036.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561890595728000036.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561890595728000036.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561890595728000036.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561890595728000036.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561890595728000036.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561890595728000036.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561890595728000036.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561890595728000036.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561890595728000036.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561890595728000036.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561890595728000036.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-561890595728000036.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561890595728000036.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561890595728000036.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561890595728000036.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561890595728000036.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561890595728000036.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561890595728000036.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-561890595728000036.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561890595728000036.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561890595728000036 .gp-relative{position:relative}.gps-561890595728000036 .gp-z-1{z-index:1}.gps-561890595728000036 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561890595728000036 .gp-mb-0{margin-bottom:0}.gps-561890595728000036 .gp-flex{display:flex}.gps-561890595728000036 .gp-inline-flex{display:inline-flex}.gps-561890595728000036 .gp-grid{display:grid}.gps-561890595728000036 .gp-contents{display:contents}.gps-561890595728000036 .\!gp-hidden{display:none!important}.gps-561890595728000036 .gp-hidden{display:none}.gps-561890595728000036 .gp-h-full{height:100%}.gps-561890595728000036 .gp-w-full{width:100%}.gps-561890595728000036 .gp-max-w-full{max-width:100%}.gps-561890595728000036 .gp-flex-col{flex-direction:column}.gps-561890595728000036 .gp-items-center{align-items:center}.gps-561890595728000036 .gp-justify-center{justify-content:center}.gps-561890595728000036 .gp-gap-y-0{row-gap:0}.gps-561890595728000036 .gp-overflow-hidden{overflow:hidden}.gps-561890595728000036 .gp-break-words{overflow-wrap:break-word}.gps-561890595728000036 .gp-rounded-none{border-radius:0}.gps-561890595728000036 .gp-text-center{text-align:center}.gps-561890595728000036 .gp-no-underline{text-decoration-line:none}.gps-561890595728000036 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561890595728000036 .gp-duration-200{transition-duration:.2s}.gps-561890595728000036 .gp-duration-300{transition-duration:.3s}.gps-561890595728000036 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561890595728000036 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-561890595728000036 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-561890595728000036 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-561890595728000036 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-561890595728000036 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-561890595728000036 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-561890595728000036 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-561890595728000036 .tablet\:\!gp-hidden{display:none!important}.gps-561890595728000036 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-561890595728000036 .mobile\:\!gp-hidden{display:none!important}.gps-561890595728000036 .mobile\:gp-hidden{display:none}}.gps-561890595728000036 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-561890595728000036 .\[\&_p\]\:gp-inline p{display:inline}.gps-561890595728000036 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-561890595728000036 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-561890595728000036 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g1yjyD9gwG" data-id="g1yjyD9gwG"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pb:var(undefined);--pt-tablet:var(undefined);--pb-tablet:var(undefined);--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1yjyD9gwG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvVxV9fDPd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gi7mygH57c" data-id="gi7mygH57c"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:var(undefined);--mr:100px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:500px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi7mygH57c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXwF9_fwL3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNUOwoFybd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNUOwoFybd "
        style="--tt:uppercase;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNUOwoFybd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4dXjgbRm_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4dXjgbRm_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4dXjgbRm__text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5fNv7x_0J">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5fNv7x_0J "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--pr:100px;--pr-mobile:0px;--pr-tablet:120px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5fNv7x_0J_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-3xl);--ta:left"
    
  >
    <style>
    .g2sigScvmP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g2sigScvmP:hover::before {
      
      
    }

    .g2sigScvmP:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .g2sigScvmP .gp-button-icon {
      color: #242424;
    }

    .g2sigScvmP:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .g2sigScvmP .gp-button-price {
      color: #242424;
    }

    .g2sigScvmP .gp-product-dot-price {
       color: #242424;
    }

    .g2sigScvmP:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <a
      href="#" target="_self" data-id="g2sigScvmP" aria-label="Shop Now"
      
      data-state="idle"
      class="g2sigScvmP gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:#242424;--bg:transparent;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:220px;--w-tablet:220px;--w-mobile:220px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:var(--g-c-bg-3, bg-3);--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:var(--g-c-bg-3, bg-3);--c:#242424"
      >
        {{ section.settings.gg2sigScvmP_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSgXtV4PIe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gc7eP6e7Tj"
    role="presentation"
    class="gp-group/image gc7eP6e7Tj"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtNzkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9Ijc5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIGZpbGw9InVybCgjZy0xMDI0LTc5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtNzkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9Ijc5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIGZpbGw9InVybCgjZy0xMDI0LTc5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjQtNzkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDI0IiBoZWlnaHQ9Ijc5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3OTIiIGZpbGw9InVybCgjZy0xMDI0LTc5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjQiIHRvPSIxMDI0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://ucarecdn.com/3f188377-735a-4706-8017-1ade0a4d0474/-/format/auto/-/preview/1024x1024/-/quality/lighter/banner.jpg"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-561890595728000036 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ipwhmw-sc/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=561890582557885345&sectionId=561890595728000036)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNUOwoFybd_text","label":"ggNUOwoFybd_text","default":"<p>NEW COLLECTION</p>"},{"type":"html","id":"gg4dXjgbRm__text","label":"gg4dXjgbRm__text","default":"<p>Ceramic Tableware for a perfect home-dining</p>"},{"type":"html","id":"gg5fNv7x_0J_text","label":"gg5fNv7x_0J_text","default":"<p>Save 25% OFF on beautifully hand-glazed ceramics designed for every kind of meal.</p>"},{"type":"html","id":"gg2sigScvmP_label","label":"gg2sigScvmP_label","default":"Shop Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
